# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IDE artifacts
.classpath
.idea
.project
.settings
bin

# Logs
postgres.log.txt
sonar.log.txt

